body {
    //background-image:url(~Images/Background.png);
    //background-color:green;
}

.vert-strength{
    width:90%;
    height: 60px;
    margin:auto;
    background-color:grey;
    margin-top:80px;
}
.f1logo{
    width:15%;
    float:left;
}
.vert-strength-Button{
    width:12%;
    height:100%;
    float:left;
    background-color:blue;
    font-family:'Times New Roman';
    font-size:large;
    font-style:oblique;
    text-align:center;
    border-right:solid;
    cursor:default;
}
.vert-strength-LastBlock{
    background-color:red;
    width:10%;
}
.content{
    width:90%;
    margin-top:40px;
    padding-top:10px;
    //max-height:inherit;
    //margin:auto;
    margin-left:5%;
    background-color:white;

}
.bottomLine{
    width:100%;
    height:40px;
    text-align:center;
    color:white;
    background-color:black;
    bottom:0px;
    margin-bottom:auto;
}
.ex{
    position:relative;
}

.mainPage-driverStandingsBlock{
    width:46%;
    margin: 2%;
    border-right:solid 2px #da90eb;
}

.newUl{
    //float:left;
    width:100%;
    padding:0;
    MARGIN:0;
    list-style-type: none;
}

.newLi{
    display:inline;
}

.newA{
    float: left;
    width: 10%;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 1em 2em;
    border-right: 1px solid white;
}

a{
    text-decoration:none;
}

a:hover{
    color:fuchsia;
}

.newA:hover{
    background-color:fuchsia;
    color:purple;
}

.driver-info-content {
    width: 90%;
    margin-left:5%;
}

li:hover{
    background-color:aqua;
}

.news_link_a{
    color:purple;
    background-color:none;
}
.news_link_a:visited{
    color:fuchsia;
}
.news_link_a:hover{
    color:#d75aea;
    background-color:none;
}

.driverInfoUl{
    width:100%;
    margin:0;
    padding:0;
    list-style-type:none;
}

.driverInfoLi{
    display:inline;
}

.drivers_divBlock_in_li{
    display:inline-block;
    width: 19.3%;
    text-decoration: none;
    color: black;
    background-color: white;
    //padding: 1em 2em;
    border-right: 1px solid #808080;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    cursor:default;
}

.drivers_divBlock_in_li:hover{
    background-color:black;
    color:white;
}

.text_style_for_iherit{
    color:gray;
    font-size:large;
}
.driverInfoDefaultFields{
    color:gray;
    font-size:large;
    width:40%;
}
.driverInfoDynamicFields{
    color:black;
    font-size:large;
    font-family:'Times New Roman';
    
}
.theadTable-DriverRaceLast {
    font-size:medium;
    font-family:'Times New Roman';

}

.deleteItem_Button{
    margin-left: 60px;
    margin-top: 10px;
    width:100px;
}
.refreshNews_Button{
    margin-left:30%;
    margin-top:10px;
    margin-bottom:20px;
    width:150px;
}