body {
    //background-image:url(~Images/Background.png);
    //background-color:green;
}

.vert-strength{
    width:90%;
    height: 60px;
    margin:auto;
    background-color:grey;
    margin-top:80px;
}
.f1logo{
    width:15%;
    float:left;
}
.vert-strength-Button{
    width:12%;
    height:100%;
    float:left;
    background-color:blue;
    font-family:'Times New Roman';
    font-size:large;
    font-style:oblique;
    text-align:center;
    border-right:solid;
    cursor:default;
}
.vert-strength-LastBlock{
    background-color:red;
    width:10%;
}
.content{
    width:90%;
    margin-top:40px;
    padding-top:10px;
    //max-height:inherit;
    //margin:auto;
    margin-left:5%;
    background-color:white;

}
.bottomLine{
    width:100%;
    height:40px;
    text-align:center;
    color:white;
    background-color:black;
    bottom:0px;
    margin-bottom:auto;
}
.ex{
    position:relative;
}

.mainPage-driverStandingsBlock{
    width:50%;
    //margin: 4%;
}

.newUl{
    float:left;
    width:100%;
    padding:0;
    MARGIN:0;
    list-style-type: none;
}

.newLi{
    display:inline;
}

.newA{
    float: left;
    width: 10%;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 1em 2em;
    border-right: 1px solid white;
}

a:hover{
    background-color:fuchsia;
}